.carousel{
    margin-top: 10px;
}
.nosotros{
    text-align: justify;
}
.barra_contacto{
background-color: white;
}
.barra_contacto .dato{
    height: 49%;
}
.barra_contacto img{
    cursor: pointer;
}
.btn_flotante {
    position: fixed !important;
    bottom: 0px;
    left: 5px;
    z-index: 99;
}




 /* Small devices (landscape phones, 576px and up)*/
 @media (min-width: 576px) { 

 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
 }
    