:root {
    /*colores*/
    --barra_contacto: 70;
}

.fondo{
    height: 80px;
}

.carousel {
    margin-top: 10px;
}

.nosotros {
    text-align: justify;
}

.barra_contacto {
    background-color: white;
}

.barra_contacto img {
    cursor: pointer;
}

.btn_flotante {
    position: fixed !important;
    bottom: 0px;
    left: 5px;
    z-index: 99;
    width: 100%;
    max-height: var(--barra_contacto)px;
}

.boton_galeria {
    font-size: 25px;
    border: 1px solid #2e518b;
    /*anchura, estilo y color borde*/
    padding: 10px 30px ;
    /*espacio alrededor texto*/
    background-color: #2e518b;
    /*color botón*/
    color: #ffffff;
    /*color texto*/
    text-decoration: none;
    /*decoración texto*/
    text-transform: uppercase;
    /*capitalización texto*/
    font-family: 'Helvetica', sans-serif;
    /*tipografía texto*/
    border-radius: 50px;
    /*bordes redondos*/
}

a:hover{
    color: white;
}

.galeria {
    text-align: center;
    margin: 0;
    padding: 0;
}

.galeria img {
    padding: 2px;
    width: 80%;
}

.mvv div{
    margin: 2px;
}

.mvvimagen {
    max-width: 50px;
    width: 30%;
    background-color: blue;
    float: left;
}

.datosmvv {
    width: 70%;
    float: right;
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .galeria img {
        width: 49%;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .galeria img {
        width: 32%;
    }
}
