.galeria{
    text-align: center;
    margin: 0;
    padding: 0;
}
.galeria img{
    padding: 2px;
    width: 80%;
}


 /* Small devices (landscape phones, 576px and up)*/
 @media (min-width: 576px) { 
    .galeria img{
        width: 49%;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .galeria img{
        width: 32%;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
   
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
   
}
   