.espacio{
    height: 30px;
}
h1,h2,h3,h4{
    font-family: 'Montserrat', sans-serif;
}
.tarjeta{
    margin-top: 20px;
    height: 500px;
    width: 300px;
    margin: auto;
    /*background-color: coral;*/
    border: 2px black solid;
}
.fondo{
    height: 130px;
    background-color: green;
}
.foto{
    display: grid;
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    margin-top: -75px;
    border-radius: 50%;
}
.informacion{
    text-align: center;
}
.informacion div{
    margin: 15px 0;
}

.botones{
    display: inline-flex;
}
.botones a{
    height: 55px;
    width: 55px;
    margin: 10px;
    /*background-color: rgb(218, 84, 206);*/
}